<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">

</head>
<body>
<section class="sidebar" th:fragment="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            <img th:src="${avatar==null?'resources/img/default.jpg':avatar}" src="resources/img/default.jpg"
                 style="max-height: 45px" class="img-circle"
                 alt="头像"/>
        </div>
        <div class="pull-left info">
            <p id="nickname"></p>
            <!-- Status -->
            <a href="javascript:;" id="role"><i class="fa fa-circle text-success"></i></a>
        </div>
    </div>
    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">

        </div>
    </form>
    <!-- /.search form -->
    <ul class="sidebar-menu">
        <li class="header">菜单</li>
        <li><a href='/toUserList'><i class='fa fa-user-circle'></i> 用户管理</a></li>
        <li><a href='/toProductClassifyList'><i class='fa pied-piper-pp'></i> 产品维度管理</a></li>
        <li><a href='/toProductList'><i class='fa fa-product-hunt'></i> 产品管理</a></li>
        <li><a href='/toNewWordList'><i class='fa fa-newspaper-o'></i> 新闻管理</a></li>
    </ul>


    <script th:inline="javascript">

        $(function () {
            $(function(e){
                var user = JSON.parse(sessionStorage.getItem("user")) ;
                var nickname = user.nickName == null ? "无法显示" : user.nickName;
                var username = user.userName == null ? "无法显示" : user.userName;
                $("#nickname").html(nickname);
                $("#role").html(username);

            })
        })

    </script>

</section>


</body>
</html>