HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/data/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
${user.dir}/
.DS_Store
data/
src/main/java/com/jsan/github/.DS_Store
src/main/java/com/jsan/github/doc_manager/.DS_Store
src/main/java/com/jsan/github/doc_manager/enums/
src/main/java/com/jsan/github/doc_manager/utils/
src/main/resources/static/
src/main/resources/templates/
