<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>AlphaZ</title>
    <link rel="stylesheet" href="resources/plugins/datatables/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="resources/plugins/sweetalert/sweetalert.css">

</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            订单管理
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>订单管理</a></li>
            <li class="active">订单列表</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">订单列表</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="table" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>结款价格</th>
                                        <th>商品名称</th>
                                        <th>供货商</th>
                                        <th>出售时间</th>
                                        <th>标价</th>
                                        <th>出售价格</th>
                                        <th>是否已结清</th>
                                        <th>购买客户</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <div class="fenye" id="page" style="float: right;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <script src="resources/plugins/page/page.js"></script>
    <script src="resources/plugins/sweetalert/sweetalert.min.js"></script>



    <script th:inline="javascript">//引用
    /*<![CDATA[*/
    var ordernumber = /*[[${ordernumber}]]*/;//取值
    /*]]>*/
        var no;
        var url;
        var pageNum = 1;
        var changeid = new Array();
        var changecost = new Array();
        var changesupply = new Array();

        function GetRequest() {
            url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                str = url.substr(1);
                if (str.indexOf("&") != -1) {
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        no = theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                        pageNum = no;
                    }
                } else {
                    no = theRequest[str.split("=")[0]] = unescape(str.split("=")[1]);
                    pageNum = no;
                }
            }

        }

        $(function () {
            GetRequest();
            if (url != "") {
                pageNo(no);
            }
            if (url == "") {
                no = 1;
                pageNo(no);
            }
        });

        function template(data) {
            var id;
            //渲染列表
            $("table tbody").empty();
            for (var i = 0; i < data.length; i++) {
                id = data[i].id;
                var orderid = data[i].orderid == null ? "-" : data[i].orderid;
                var name = data[i].name == null ? "-" : data[i].name;
                name = "<a href='tocargoinf?id=" + id + "'>" + name + "</a>";
                var cost = data[i].cost == null ? "-" : data[i].cost;
                var createtime = data[i].createtime == null ? "-" : data[i].createtime;
                var supplycommission = data[i].supplycommission;
                switch (supplycommission) {
                    case 1:
                        supplycommission = '已结款';
                        break;
                    case 0:
                        supplycommission = '未结款';
                        break;
                    default:
                        supplycommission = '未知状态';
                }
                var supplycost = data[i].supplycost == null ? "-" : data[i].supplycost;
                var sellname = data[i].sellname == null ? "-" : data[i].sellname;
                var sellprice = data[i].sellprice == null ? "-" : data[i].sellprice;
                var supplyname = data[i].supplyname == null ? "-" : data[i].supplyname;
                var supplycost = data[i].supplycost == null ? "0" : data[i].supplycost;
                var fun = {};
                fun.SELECT = "doSearch(" + id + ")";
                fun.UPDATE = "toupdate(" + id + ")";
                //if (status == 0) {
                //    fun.DOWN = "todown(" + id + ")";
                $("table tbody").append("<tr class='poin ter'>"
                    + "   <td>" + supplycost + "</td>"
                    + "   <td>" + name + "</td>"
                    + "   <td>" + supplyname + "</td>"
                    + "   <td>" + createtime + "</td>"
                    + "   <td>" + cost + "</td>"
                    + "   <td>" + sellprice + "</td>"
                    + "   <td>" + supplycommission + "</td>"
                    + "   <td>" + sellname + "</td>"
                    + "   </tr>");

                $("input[name='orderid']").on('click', function () {
                    var checkboxcount = $("input[name='orderid']").length;
                    var checkedboxcount = $("input[name='orderid']:checked").length;
                    if (checkedboxcount < checkboxcount) {
//                $("[name=orderid]:checkbox").attr("checked",this.checked?"true":"");
                        $("#allchecked").prop("checked", false);

                    } else {
                        $("#allchecked").prop("checked", true);

                    }
                })
            }
        }

        function pageNo(no) {
            $.ajax({
                type: "get",
                url: "cargoorder/"+ordernumber+"/getcargobyordernumber",
                data: {
                    pagesize: 10,
                    pageno: no
                },
                dataType: "json",
                success: function (data) {
                    template(data.data);
                }
            });
        }
    </script>
</div>

</body>

</html>


