<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>AlphaZ</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            添加品名
            <small></small>
        </h1>
        <button class="btn btn-primary" style="float: right;margin-top: -20px;margin-bottom: 5px;" onclick="save();">
            保存
        </button>
    </section>
    <section class="content">
        <img class='img_close' src='resources/img/clone.png' style="display: none">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">品名信息</h3>
                        <!--<ul class="nav navbar-right panel_toolbox">
                            <li><a href="tocargolist" style="margin-right:10px;"><i class="fa fa-arrow-left"></i>返回</a>
                            </li>
                        </ul>-->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">中文品名</span>
                                    <input type="text" class="form-control" placeholder="请填写中文品名" id="chinesename">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">英文品名</span>
                                    <input type="text" class="form-control" placeholder="请填写英文品名" id="englishname">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">中国HS</span>
                                    <input type="text" class="form-control" placeholder="请填写中国HS" id="chinseshs">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">荷兰HS</span>
                                    <input type="text" class="form-control" placeholder="请填写荷兰HS" id="hlhs">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">关税</span>
                                    <input type="text" class="form-control" placeholder="请填写关税" id="duty">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:inline="javascript">//引用
    function save() {
        var chinesename = $("#chinesename").val();
        var englishname = $("#englishname").val();
        var chinseshs = $("#chinseshs").val();
        var hlhs = $("#hlhs").val();
        var duty = $("#duty").val();
        var cargoNameEntity = {
            chinesename: chinesename,
            englishname: englishname,
            chinseshs: chinseshs,
            hlhs: hlhs,
            duty: duty
        };
        $.ajax({
            url: "warehouseclient/createupdatecargoname",
            type: "post",
            data: JSON.stringify(cargoNameEntity),
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                location.href = "topinming";
            }
        });

    }


    </script>
</div>

</body>

</html>