<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>犀牛管理</title>
    <link rel="stylesheet" href="resources/plugins/dist/css/selectize.default.css">
    <link rel="stylesheet"
          href="resources/plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>新闻列表</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="row col-md-12">

                                <div class="col-md-2">
                                    <button class="btn btn-primary" style="float: right;" onclick="addProductClassify();">新增产品种类
                                    </button>
                                </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table" id="tb0">
                            <thead>
                            <tr>
                                <th style="width: 155px;">产品种类id</th>
                                <th style="width: 155px;">产品种类</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7">
                            <div class="fenye" id="page" style="float: right;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <script src="resources/plugins/page/page.js"></script>
    <script src="resources/plugins/sweetalert/sweetalert.min.js"></script>
    <script th:inline="javascript">//引用
    $(function () {
        pageNo();
    });


    function template(data) {
        var id;
        //渲染列表
        $("table tbody").empty();
        for (var i = 0; i < data.length; i++) {
            var id = (data[i].id == null || data[i].id == "" || data[i].id == 'null') ? "" : data[i].id;
            var dimensionName = data[i].dimensionName == null ? "-" : data[i].dimensionName;
            var createTime = data[i].createTime == null ? "-" : data[i].createTime;
            $("#tb0 tbody").append("<tr class='pointer'>"
                + "   <td>" + id + "</td>"
                + "   <td>" + dimensionName + "</td>"
                + "   <td>" + createTime + "</td>"
                + "   <td><a  href='javascript:;'  onclick='deleteProductClassify(" + id + ")'><span>删除维度&nbsp;&nbsp;</span></a></td>"
                + "   </tr>");

        }
    }

    function pageNo() {
        $.ajax({
            type: "get",
            url: "product/r_product_dimension",
            dataType: "json",
            success: function (data) {
                template(data.data);
            }
        });
    }

    function addProductClassify() {
        swal({
            title: "新增产品维度",
            content: [{
                element: "input",
                attributes: {
                    placeholder: "请输入想要展示的维度名称",
                },
            }],
            button: {
                text: "新增维度!",
                closeModal: false,
            },
        }).then(name => {
            if (!name) throw null;
            $.ajax({
                type: "post",
                url: "product/c_product_dimension",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "dimensionName": name,
                    "createTime":new Date()
                }),
                dataType: "json",
                success: function (data) {
                    location.reload();
                },
                error: function () {

                }
            })
        });
    }

    function deleteProductClassify() {
        $.ajax({
            type: "post",
            url: "/product/d_product_dimension",
            data: {
                id: id,
            },
            dataType: "json",
            success: function (data) {
                location.reload();
            }
        })
    }

    </script>
</div>
</body>
</html>