<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>犀牛管理</title>
    <link rel="stylesheet" href="resources/plugins/datatables/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="resources/plugins/bootstrap-select-1.12.4/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="resources/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="resources/plugins/summernote/summernote.css">
    <link rel="stylesheet" href="resources/plugins/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="resources/plugins/summernote/summernote-lite.css">
    <!--<link rel="stylesheet" href="resources/plugins/datepicker/datepicker3.css">-->
    <link rel="stylesheet" href="resources/plugins/dist/css/selectize.default.css">
    <link rel="stylesheet"
          href="resources/plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <style>
        .waring {
            border: 2px solid red;
        }
    </style>
    <script src="../static/resources/plugins/summernote/summernote-bs4.js"></script>
    <script src="../static/resources/plugins/summernote/summernote-lite.js"></script>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            产品新增
            <small></small>
        </h1>
        <button class="btn btn-primary" style="float: right;margin-top: -20px;margin-bottom: 5px;" onclick="save();">
            保存
        </button>
    </section>
    <section class="content">
        <img class='img_close' src='resources/img/clone.png' style="display: none">
        <div class="form-group row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">产品标题</span>
                    <input type="text" class="form-control" placeholder="请填写产品名称" id="productname">
                </div>
            </div>
            <label class="" style="line-height: 35px; float: left;">产品类别：</label>
            <div class="col-md-4">
                <select class="form-control" id="status">

                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <div class="input-group">
                    <label class="" style="line-height: 35px; float: left;">产品图片：</label>
                    <input type="file" id="picfile" name="file" onchange="updatePic();"/>
                    <p id="picshow"></p>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="">产品说明 上传PDF</span>
                    <input type="file" id="pdffile" name="file" onchange="updatePdf();"/>
                    <p id="pdfshow"></p>
                </div>
            </div>
        </div>
    </section>
    <script src="resources/plugins/page/page.js"></script>
    <script src="resources/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="resources/plugins/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>
    <script src="resources/js/ajaxfileupload.js" type="text/javascript" charset="utf-8"></script>
    <script src="resources/js/jquery.barcode.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="resources/plugins/datepicker/bootstrap-datepicker.js"></script>-->
    <!-- <script src="resources/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>-->
    <script src="resources/plugins/dist/js/standalone/selectize.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="resources/plugins/summernote/summernote.js"></script>
    <script src="resources/plugins/summernote/summernote-bs4.js"></script>
    <script src="resources/plugins/summernote/summernote-lite.js"></script>

    <script src="resources/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script th:inline="javascript">//引用
    var picurl ;
    var pdfurl ;

    $(function () {
        getclassifylist();
    })


    function getclassifylist() {
        $.ajax({
            type: "get",
            url: "/product/r_product_dimension",
            dataType: "json",
            success: function (data) {
                templateclassify(data.data);
            }
        });
    }

    function templateclassify(data) {
        //渲染列表
        $("#status").empty();
        for (var i = 0; i < data.length; i++) {
            var id = data[i].id;
            var dimensionName = data[i].dimensionName == null ? "-" : data[i].dimensionName;
            $("#status").append(
                "<option value=" + id + ">" + dimensionName + "</option>"
            );
        }
    }

    function updatePic() {
        $.ajaxFileUpload(
            {
                url: '/file/u_file', //用于文件上传的服务器端请求地址
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: 'picfile', //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data)  //服务器成功响应处理函数
                {
                    picurl = data.data;
                    $("#picshow").empty();
                    $("#picshow").append("<img src='"+picurl+"' width='80px' height='80px'/>")
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
    }

    function updatePdf() {
        $.ajaxFileUpload(
            {
                url: '/file/u_file', //用于文件上传的服务器端请求地址
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: 'pdffile', //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data)  //服务器成功响应处理函数
                {
                    pdfurl = data.data;
                    $("#pdfshow").empty();
                    $("#pdfshow").append("<embed src='"+pdfurl+"' width='425' height='425' />")
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
    }


    function save() {
        var productname = $("#productname").val();
        var status = $("#status option:selected").val();
        $.ajax({
            type: "POST",
            url: "/product/cu_product",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                productName: productname,
                productContent: pdfurl,
                imgUrl:picurl,
                dimensionId: status,
                sortTop: false
            }),
            dataType: "json",
            success: function (data) {
                location.href = "/toProductList";
            }
        })
    }
    </script>
</div>

</body>

</html>