<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>犀牛管理</title>
    <link rel="stylesheet" href="resources/plugins/dist/css/selectize.default.css">
    <link rel="stylesheet"
          href="resources/plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>产品列表</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="row col-md-12">
                            <label class="col-md-2" style="line-height: 35px; float: left;">产品名称</label>
                            <div class="col-md-2"><input class="form-control" placeholder="请填写产品名称" id="titleName">
                            </div>
                            <label class="" style="line-height: 35px; float: left;">产品类别：</label>
                            <div class="col-md-2">
                                <select class="form-control" id="status">
                                    <option value=null>全部</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" style="float: right;" onclick="findall();">查询
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" style="float: right;" onclick="addProduct();">新增产品
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table" id="tb0">
                            <thead>
                            <tr>
                                <th style="width: 150px;">产品id</th>
                                <th style="width: 250px;">产品名称</th>
                                <th style="width: 150px;">产品类别</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7">
                            <div class="fenye" id="page">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <script src="resources/plugins/page/page.js"></script>
    <script src="resources/plugins/sweetalert/sweetalert.min.js"></script>
    <script th:inline="javascript">//引用
    var no;
    var url;
    var pageNum = 1;
    var classifyMap = new Map();

    function GetRequest() {
        url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            str = url.substr(1);
            if (str.indexOf("&") != -1) {
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    no = theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                    pageNum = no;
                }
            } else {
                no = theRequest[str.split("=")[0]] = unescape(str.split("=")[1]);
                pageNum = no;
            }
        }

    }

    $(function () {
        getclassifylist();
        GetRequest();
    });

    function template(data) {
        //渲染列表
        $("table tbody").empty();
        for (var i = 0; i < data.length; i++) {
            var id = data[i].id;
            var productName = data[i].productName == null ? "-" : data[i].productName;
            var dimensionId = data[i].dimensionId == null ? "-" : data[i].dimensionId;
            var dimensionName = classifyMap.get(dimensionId);
            var topTips = data[i].sortTop == null ? "-" : data[i].sortTop;
            var sortTopA;
            if (topTips) {
                sortTopA = "<a  href='javascript:;'  onclick='toTop(" + id + ",false)'><span>取消置顶&nbsp;&nbsp;</span></a>"
            } else {
                sortTopA = "<a  href='javascript:;'  onclick='toTop(" + id + ",true)'><span>置顶&nbsp;&nbsp;</span></a>"

            }
            //if (status == 0) {
            //    fun.DOWN = "todown(" + id + ")";
            $("table tbody").append("<tr class='poin ter'>"
                + "   <td>" + id + "</td>"
                + "   <td>" + productName + "</td>"
                + "   <td>" + dimensionName + "</td>"
                + "   <td><a  href='javascript:;'  onclick='updateProduct(" + id + ")'><span>更新&nbsp;&nbsp;</span></a>"
                + "   " + sortTopA + "" +
                "<a  href='javascript:;'  onclick='deleteProduct(" + id + ")'><span>删除&nbsp;&nbsp;</span></a></td>"
                + "   </tr>");
        }
    }

    function pageNo(no) {
        $.ajax({
            type: "get",
            url: "/product/r_product",
            data: {
                pageNo: no,
                productName: null,
                dimensionId: null
            },
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#page").pagination({
                    pageIndex: no, // 默认页
                    pageSize: data.data.size, // 默认分页大小
                    totalCount: data.data.total,
                    onChange: function (pageIndex) {
                        $.ajax({
                            data: {
                                pageNo: pageIndex,
                                productName: null,
                                dimensionId: null
                            },
                            dataType: "json",
                            success: function (data) {
                                template(data.data.list);
                                pageNum = pageIndex;
                            },
                            error: function () {
                                swal("跳转失败！", "跳转失败。", "error");
                            }
                        })
                    }
                })
                template(data.data.list);
            }
        });
    }

    function getclassifylist() {
        $.ajax({
            type: "get",
            url: "/product/r_product_dimension",
            dataType: "json",
            success: function (data) {
                templateclassify(data.data);
                if (url != "") {
                    pageNo(no);
                }
                if (url == "") {
                    no = 1;
                    pageNo(no);
                }
            }
        });
    }

    function templateclassify(data) {
        //渲染列表
        $("#status").empty();
        $("#status").append(
            "<option value=null>全部</option>"
        );
        for (var i = 0; i < data.length; i++) {
            var id = data[i].id;
            var dimensionName = data[i].dimensionName == null ? "-" : data[i].dimensionName;
            classifyMap.set(id,dimensionName);
            $("#status").append(
                "<option value=" + id + ">" + dimensionName + "</option>"
            );
        }
    }


    function findall() {
        var titleName = $("#titleName").val();
        var status = $("#status option:selected").val();
        status = status =='null'?null:status;
        $.ajax({
            type: "get",
            url: "/product/r_product",
            data: {
                pageNo: no,
                productName: titleName,
                dimensionId: status
            },
            dataType: "json",
            success: function (data) {
                $("#page").pagination({
                    pageNo: no, // 默认页
                    pageSize: data.data.size, // 默认分页大小
                    totalCount: data.data.total,
                    onChange: function (pageIndex, pageSize) {
                        $.ajax({
                            type: "get",
                            url: "/product/r_product",
                            data: {
                                pageNo: no,
                                productName: titleName,
                                dimensionId: status
                            },
                            dataType: "json",
                            success: function (data) {
                                //if(data.statusCode == 200){
                                template(data.data.list);
                                // }
                            }
                        })
                    }
                })
                template(data.data.list);
            }
        })
    }

    function toTop(id, istop) {
        $.ajax({
            type: "POST",
            url: "/product/product2top",
            data: {
                productId: id,
                topTips: istop,
            },
            dataType: "json",
            success: function (data) {
                location.reload();
            }
        })
    }

    function deleteProduct(id){
        $.ajax({
            type: "POST",
            url: "/product/d_product",
            data: {
                productId: id,
            },
            dataType: "json",
            success: function (data) {
                location.reload();
            }
        })
    }


    function addProduct() {
        location.href = "/toProductAdd";
    }

    function updateProduct(id) {
        location.href = "/toProductUpdate?id=" + id;
    }


    </script>
</div>
</body>
</html>