<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>犀牛管理</title>
    <link rel="stylesheet" href="resources/plugins/datatables/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="resources/plugins/bootstrap-select-1.12.4/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="resources/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="resources/plugins/summernote/summernote.css">
    <link rel="stylesheet" href="resources/plugins/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="resources/plugins/summernote/summernote-lite.css">
    <!--<link rel="stylesheet" href="resources/plugins/datepicker/datepicker3.css">-->
    <link rel="stylesheet" href="resources/plugins/dist/css/selectize.default.css">
    <link rel="stylesheet"
          href="resources/plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <style>
        .waring {
            border: 2px solid red;
        }
    </style>
    <script src="../static/resources/plugins/summernote/summernote-bs4.js"></script>
    <script src="../static/resources/plugins/summernote/summernote-lite.js"></script>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            产品更新
            <small></small>
        </h1>
        <button class="btn btn-primary" style="float: right;margin-top: -20px;margin-bottom: 5px;" onclick="save();">
            更新
        </button>
    </section>
    <section class="content">
        <img class='img_close' src='resources/img/clone.png' style="display: none">
        <div class="form-group row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">产品标题</span>
                    <input type="text" class="form-control" placeholder="请填写产品名称" id="productName">
                </div>
            </div>
            <label class="" style="line-height: 35px; float: left;">产品类别：</label>
            <div class="col-md-4">
                <select class="form-control" id="status">

                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <div class="input-group">
                    <label class="" style="line-height: 35px; float: left;">产品图片：</label>
                    <input type="file" id="file" name="file" onchange="updateFile();"/>
                    <input type="hidden" id="pic" name="pic"/>
                    <p id="picshow"></p>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">产品说明</span>
                    <textarea type="text" class="form-control" placeholder="请填写产品说明" id="productcontent"></textarea>
                </div>
            </div>
        </div>
    </section>
    <script src="resources/plugins/page/page.js"></script>
    <script src="resources/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="resources/plugins/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>
    <script src="resources/js/ajaxfileupload.js" type="text/javascript" charset="utf-8"></script>
    <script src="resources/js/jquery.barcode.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="resources/plugins/datepicker/bootstrap-datepicker.js"></script>-->
    <!-- <script src="resources/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>-->
    <script src="resources/plugins/dist/js/standalone/selectize.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="resources/plugins/summernote/summernote.js"></script>
    <script src="resources/plugins/summernote/summernote-bs4.js"></script>
    <script src="resources/plugins/summernote/summernote-lite.js"></script>

    <script src="resources/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script th:inline="javascript">//引用

    var id;
    var picurl ;


    $(function () {
        getclassifylist();
        GetRequest();
    })


    function GetRequest() {
        url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            str = url.substr(1);
            if (str.indexOf("&") != -1) {
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    console.log(strs);
                    id = theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            } else {
                console.log(str);
                id = theRequest[str.split("=")[0]] = unescape(str.split("=")[1]);
            }
        }

    }

    function getclassifylist() {
        $.ajax({
            type: "get",
            url: "/product/r_product_dimension",
            dataType: "json",
            success: function (data) {
                templateclassify(data.data);
                getinfoByid();
            }
        });
    }

    function getinfoByid() {
        $.ajax({
            type: "get",
            url: "/product/r_get_product",
            data:{
                productId:id
            },
            dataType: "json",
            success: function (data) {

                var productName = data.data.productName == null ? "-" : data.data.productName;
                var productContent = data.data.productContent == null ? "-" : data.data.productContent;
                picurl = data.data.imgUrl == null ? "-" : data.data.imgUrl;
                var dimensionId = data.data.dimensionId == null ? "-" : data.data.dimensionId;
                $("#productName").val(productName);
                $("#productcontent").val(productContent);
                $("#status option[value='"+dimensionId+"']").attr("selected",true);
                $("#picshow").empty();
                $("#picshow").append("<img src='/file/g_file/"+picurl+"' width='80px' height='80px'/>")
            }
        });
    }

    function templateclassify(data) {
        //渲染列表
        $("#status").empty();
        $("#status").append(
            "<option value='12'>ceshi</option>"
        );
        for (var i = 0; i < data.length; i++) {
            var id = data[i].id;
            var dimensionName = data[i].dimensionName == null ? "-" : data[i].dimensionName;
            $("#status").append(
                "<option value=" + id + ">" + dimensionName + "</option>"
            );
        }
    }

    function updateFile() {
        $.ajaxFileUpload
        (
            {
                url: '/file/u_file', //用于文件上传的服务器端请求地址
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: 'file', //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data)  //服务器成功响应处理函数
                {
                    $("#picshow").empty();
                    picurl = data.data;
                    $("#picshow").append("<img src='/file/g_file/"+picurl+"' width='80px' height='80px'/>")
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
    }




    function save() {
        var productName = $("#productName").val();
        var productcontent = $("#productcontent").val();
        var status = $("#status option:selected").val();
        $.ajax({
            type: "POST",
            url: "/product/cu_product",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id:id,
                productName: productName,
                productContent: productcontent,
                imgUrl:picurl,
                dimensionId: status,
                sortTop: false
            }),
            dataType: "json",
            success: function (data) {
                location.href = "/toProductList";
            }
        })
    }
    </script>
</div>

</body>

</html>