<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>AlphaZ</title>
    <link rel="stylesheet" href="resources/plugins/datatables/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="resources/plugins/bootstrap-select-1.12.4/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="resources/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="resources/plugins/dist/css/selectize.default.css">
    <link rel="stylesheet" href="resources/plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">

</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            查看/编辑入库信息
            <small></small>
        </h1>
        <button class="btn btn-primary" style="float: right;margin-top: -20px;margin-bottom: 5px;margin-right:5px;display: none;" id="toSubmit">保存并提交</button>
        <button class="btn btn-primary" style="float: right;margin-top: -20px;margin-bottom: 5px;margin-right:5px;display: none;" id="toupdate">编辑</button>
        <button class="btn btn-primary" style="float: right;margin-top: -20px;margin-bottom: 5px;margin-right:5px;display: none;" id="tosave">保存</button>
        <!--<button class="btn btn-primary" style="float: right;margin-top: -20px;margin-bottom: 5px;margin-right:5px;display: none;" id="toDelete">撤回</button>-->
    </section>
    <section class="content">
        <img class='img_close' src='resources/img/clone.png' style="display: none">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">入库信息</h3>
                        <!--<ul class="nav navbar-right panel_toolbox">
                            <li><a href="tocargolist" style="margin-right:10px;"><i class="fa fa-arrow-left"></i>返回</a>
                            </li>
                        </ul>-->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <input th:value="${hid}" id="hid" type="hidden">
                        <input th:value="${pagemsg}" id="pagemsg" type="hidden">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <span>入库时间</span>
                                    </div>
                                    <input class="form-control disinp1" size="16" type="text" value="" placeholder="请选择入库时间" id="warehouseintime">
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">仓库代码</span>
                                    <div style="height: 34px;"><input id="warehouseid" placeholder="请填写仓库代码"></div>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">客户</span>
                                    <div style="height: 34px;"><input id="clientname" placeholder="请填写客户"></div>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">国家</span>
                                    <div style="height: 34px;"><input id="country" placeholder="请填写国家"></div>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">追溯码</span>
                                    <input type="text" class="form-control disinp" placeholder="请填写追溯码" id="logisticsNumber">
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">运输方式</span>
                                    <select id="gotype" class="form-control disinp">
                                        <option value="1">空运</option>
                                        <option value="2">海运</option>
                                        <option value="3">铁运</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">地址</span>
                                    <input type="text" class="form-control disinp" placeholder="请填写地址" id="address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header">
                        <h3 class="box-title">箱子信息</h3>
                        <div style="float: right;" class="col-md-11">
                            <div class="input-group" id="setbox">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btndel"><a><li class="fa fa-minus"></li></a></button>
                                </span>
                                <input type="text" class="form-control" style="width:60px;text-align: center;" id="boxcount" value="0" readonly>
                                <span class="input-group-btn" style="float:left;">
                                    <button class="btn btn-default" type="button" id="btnadd"><a><li class="fa fa-plus"></li></a></button>
                                </span>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <table class="table" id="tb0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">复制</th>
                                    <th style="text-align: center;width:60px;">序号</th>
                                    <th style="text-align: center;">单箱重量（KG）</th>
                                    <th style="text-align: center;">单箱尺寸（CM）</th>
                                    <th style="text-align: center;">托盘号</th>
                                    <th style="text-align: center;">FBA号码</th>
                                    <th style="text-align: center;">地标</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="resources/plugins/page/page.js"></script>
    <script src="resources/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="resources/plugins/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>
    <script src="resources/js/ajaxfileupload.js" type="text/javascript" charset="utf-8"></script>
    <script src="resources/js/jquery.barcode.js" type="text/javascript" charset="utf-8"></script>
    <script src="resources/plugins/dist/js/standalone/selectize.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="resources/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="resources/plugins/moment/moment.min.js"></script>

    <script th:inline="javascript">//引用
    var countrycontrol;
    var cluid = /*[[${cluid}]]*/;//任务id
    var hid = /*[[${hid}]]*/;//货物id
    var type = /*[[${type}]]*/;//从我的认领页面过来
    $(function(){
        if(type){
            $("#toupdate").show();
        }
        $("#setbox").hide();
        $(".disinp").attr("disabled",true);
        $(".disinp1").attr("disabled",true);
        var id = $("#hid").val();
        $.ajax({
            url:'cargo/'+id+'/getcargologisticsbyid',
            type:"post",
            dataType:"json",
            success:function(data){
                console.log("---")
                console.log(data)
                var warehouseaddress = data.data.cl.warehouseaddress==null?"":data.data.cl.warehouseaddress;
                var country = data.data.cl.country==null?"":data.data.cl.country;
                var warehouseintime = (data.data.cl.warehouseintime == null||data.data.cl.warehouseintime == ""||data.data.cl.warehouseintime == 'null') ? "" : moment(data.data.cl.warehouseintime).format('YYYY-MM-DD HH:mm:ss');
                var logisticsNumber = data.data.cl.logisticsNumber==null?"":data.data.cl.logisticsNumber;
                var gotype = data.data.cl.gotype==null?"":data.data.cl.gotype;
                $("#address").val(warehouseaddress);
                $("#country").val(country);
                $('#warehouseintime').datetimepicker('update',warehouseintime);
                $("#logisticsNumber").val(logisticsNumber);
                $("#boxcount").val(data.data.box.length);
                $("#gotype").val(gotype);
                var list1 = [data.data.cl.wid];
                setlist1(list1);
                var list2 = [data.data.cl.cid];
                list2.push(list2);
                setlist2(list2);

                $("#tb0 tbody").empty();
                for(var i=0;i<data.data.box.length;i++){
                    var id = data.data.box[i].id;
                    var sort = data.data.box[i].sort==null?"":data.data.box[i].sort;
                    var weight = data.data.box[i].weight==null?"":data.data.box[i].weight;
                    var size1 = data.data.box[i].boxlength==null?"":data.data.box[i].boxlength;
                    var size2 = data.data.box[i].boxwidth==null?"":data.data.box[i].boxwidth;
                    var size3 = data.data.box[i].boxhigh==null?"":data.data.box[i].boxhigh;
                    var place = data.data.box[i].place==null?"":data.data.box[i].place;
                    var fba = data.data.box[i].fba==null?"":data.data.box[i].fba;
                    var addressmark = data.data.box[i].addressmark==null?"":data.data.box[i].addressmark;
                    $("#tb0 tbody").append('<tr data-id="'+id+'">'+
                            '<td><button class="btn" onclick="fuzhi('+i+');">复制</button></td>'+
                            '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写序号" value="'+sort+'"></td>'+
                            '<td style="padding-right: 20px;"><input type="text" class="form-control" style="padding:0 5px;border: 0px;text-align: center;" placeholder="请填写单箱重量（KG）" value="'+weight+'"></td>'+
                            '<td><div class="row">' +
                            '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;" value="'+size1+'"></div>' +
                            '<div class="col-md-1" style="padding:0px;" align="center"><span style="line-height: 34px;">*</span></div>' +
                            '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;" value="'+size2+'"></div>' +
                            '<div class="col-md-1" style="padding:0px;" align="center"><span style="line-height: 34px;">*</span></div>' +
                            '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;" value="'+size3+'"></div></div></td>'+
                            '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写托盘号" value="'+place+'"></td>'+
                            '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写FBA号码" value="'+fba+'"></td>'+
                            '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写地标" value="'+addressmark+'"></td>'+
                            '</tr>');
                }
                $("#tb0 tbody tr td").find("input").attr("disabled",true);
                $("#tb0 tbody tr td").find("button").attr("disabled",true);
            }
        });


        var countrylist = [{"id":"AO","name": "安哥拉"},
            {"id":"AL","name": "阿尔巴尼亚"},
            {"id":"DZ","name": "阿尔及利亚"},
            {"id":"AR","name": "阿根廷"},
            {"id":"AM","name": "亚美尼亚"},
            {"id":"AU","name": "澳大利亚"},
            {"id":"AT","name": "奥地利"},
            {"id":"AZ","name": "阿塞拜疆"},
            {"id":"BH","name": "巴林"},
            {"id":"BD","name": "孟加拉国"},
            {"id":"BY","name": "白俄罗斯"},
            {"id":"BE","name": "比利时"},
            {"id":"BO","name": "玻利维亚"},
            {"id":"BR","name": "巴西"},
            {"id":"BN","name": "文莱"},
            {"id":"BG","name": "保加利亚"},
            {"id":"CA","name": "加拿大"},
            {"id":"CL","name": "智利"},
            {"id":"CN","name": "中国"},
            {"id":"CO","name": "哥伦比亚"},
            {"id":"CR","name": "哥斯达黎加"},
            {"id":"CY","name": "塞浦路斯"},
            {"id":"CZ","name": "捷克"},
            {"id":"DK","name": "丹麦"},
            {"id":"EG","name": "埃及"},
            {"id":"SV","name": "萨尔瓦多"},
            {"id":"EE","name": "爱沙尼亚"},
            {"id":"FI","name": "芬兰"},
            {"id":"FR","name": "法国"},
            {"id":"GE","name": "格鲁吉亚"},
            {"id":"DE","name": "德国"},
            {"id":"GR","name": "希腊"},
            {"id":"HU","name": "匈牙利"},
            {"id":"IS","name": "冰岛"},
            {"id":"IN","name": "印度"},
            {"id":"ID","name": "印度尼西亚"},
            {"id":"IE","name": "爱尔兰"},
            {"id":"IL","name": "以色列"},
            {"id":"IT","name": "意大利"},
            {"id":"JP","name": "日本"},
            {"id":"JO","name": "约旦"},
            {"id":"KZ","name": "哈萨克斯坦"},
            {"id":"KR","name": "韩国"},
            {"id":"KW","name": "科威特"},
            {"id":"KG","name": "吉尔吉斯坦"},
            {"id":"LV","name": "拉脱维亚"},
            {"id":"LB","name": "黎巴嫩"},
            {"id":"LT","name": "立陶宛"},
            {"id":"LU","name": "卢森堡"},
            {"id":"MY","name": "马来西亚"},
            {"id":"MV","name": "马尔代夫"},
            {"id":"MT","name": "马耳他"},
            {"id":"MU","name": "毛里求斯"},
            {"id":"MX","name": "墨西哥"},
            {"id":"MD","name": "摩尔多瓦"},
            {"id":"NL","name": "荷兰"},
            {"id":"NZ","name": "新西兰"},
            {"id":"NG","name": "尼日利亚"},
            {"id":"NO","name": "挪威"},
            {"id":"OM","name": "阿曼"},
            {"id":"PK","name": "巴基斯坦"},
            {"id":"PE","name": "秘鲁"},
            {"id":"PH","name": "菲律宾"},
            {"id":"PL","name": "波兰"},
            {"id":"PT","name": "葡萄牙"},
            {"id":"PR","name": "波多黎各"},
            {"id":"QA","name": "卡塔尔"},
            {"id":"RO","name": "罗马尼亚"},
            {"id":"RU","name": "俄罗斯"},
            {"id":"SA","name": "沙特阿拉伯"},
            {"id":"SG","name": "新加坡"},
            {"id":"SK","name": "斯洛伐克"},
            {"id":"SI","name": "斯洛文尼亚"},
            {"id":"ZA","name": "南非"},
            {"id":"ES","name": "西班牙"},
            {"id":"LK","name": "斯里兰卡"},
            {"id":"SE","name": "瑞典"},
            {"id":"CH","name": "瑞士"},
            {"id":"TJ","name": "塔吉克斯坦"},
            {"id":"TH","name": "泰国"},
            {"id":"TR","name": "土耳其"},
            {"id":"TM","name": "土库曼斯坦"},
            {"id":"UA","name": "乌克兰"},
            {"id":"AE","name": "阿拉伯联合酋长国"},
            {"id":"GB","name": "英国"},
            {"id":"US","name": "美国"},
            {"id":"UY","name": "乌拉圭"},
            {"id":"UZ","name": "乌兹别克斯坦"},
            {"id":"VE","name": "委内瑞拉"},
            {"id":"VN","name": "越南"},
            {"id":"YE","name": "也门"},
            {"id":"AO","name": "安哥拉"},
            {"id":"AL","name": "阿尔巴尼亚"},
            {"id":"DZ","name": "阿尔及利亚"},
        ];

        var $select = $('#country').selectize({
            createOnBlur: true,
            maxItems: 1,
            valueField: 'name',
            labelField: 'name',
            searchField: 'id',
            options: countrylist,
            create: true
        });
        countrycontrol = $select[0].selectize;
        countrycontrol.disable();


    });

    function setlist1(list1){
        $.ajax({
            url:"warehouseclient/warehouse",
            type:"get",
            data:{},
            dataType:"json",
            success:function(data){
                if(data.statusCode==0){
                    var list = [];
                    for (var i = 0; i < data.data.length; i++) {
                        var demolist = {"id": data.data[i].id, "name": data.data[i].warehouseid};
                        list.push(demolist);
                    }
                    var $select = $('#warehouseid').selectize({
                        createOnBlur: true,
                        maxItems: 1,
                        valueField: 'id',
                        labelField: 'name',
                        searchField: 'name',
                        options: list,
                        create: true
                    });
                    var control = $select[0].selectize;
                    control.setValue(list1);
                    control.disable();
                    $("#toupdate").on("click",function(){
                        control.enable();
                    })
                }
            }
        });
    }

    function setlist2(list2){
        $.ajax({
            url:"warehouseclient/client",
            type:"get",
            data:{},
            dataType:"json",
            success:function(data){
                if(data.statusCode==0){
                    var list = [];
                    for (var i = 0; i < data.data.length; i++) {
                        var demolist = {"id": data.data[i].id, "name": data.data[i].clientname};
                        list.push(demolist);
                    }
                    var $select = $('#clientname').selectize({
                        createOnBlur: true,
                        maxItems: 1,
                        valueField: 'id',
                        labelField: 'name',
                        searchField: 'name',
                        options: list,
                        create: true
                    });
                    var control = $select[0].selectize;
                    control.setValue(list2);
                    control.disable();
                    $("#toupdate").on("click",function(){
                        control.enable();
                    })
                }
            }
        });
    }

    $('#warehouseintime').datetimepicker({
        minuteStep: 1,
        todayBtn: true,
        format:"yyyy-mm-dd hh:ii:ss",
        autoclose:true
    });

    $("#warehouseid").on("change",function(){
        var wid = $("#warehouseid").val();
        $.ajax({
            url:"warehouseclient/"+wid+"/warehouse",
            type:"get",
            success:function(data){
                var address = data.data.address==null?"":data.data.address;
                var country = data.data.country==null?"":data.data.country;
                $("#address").val(address);
                countrycontrol.setValue([country]);
            }
        });
    });

    //点击更新
    $("#toupdate").on("click",function(){
        $("#toSubmit").show();
        $("#toupdate").hide();
        $("#tosave").show();
        $(".disinp").attr("disabled",false);
        $("#setbox").show();
        $("#tb0 tbody tr td").find("input").attr("disabled",false);
        $("#tb0 tbody tr td").find("button").attr("disabled",false);
        countrycontrol.enable();
    });


    $("#btndel").on("click",function(){
        var count = $("#boxcount").val();
        if(count<=0){
            return;
        }
        var sum=-1;
        sum += parseInt(count);
        $("#boxcount").val(sum);
        $("#tb0 tbody tr").eq(sum).remove();
    });

    $("#btnadd").on("click",function(){
        var count = $("#boxcount").val();
        var sum=1;
        sum += parseInt(count);
        $("#boxcount").val(sum);
        $("#tb0 tbody").append('<tr>'+
                '<td><button class="btn" onclick="fuzhi('+count+');">复制</button></td>'+
                '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写序号" value="'+sum+'"></td>'+
                '<td style="padding-right: 20px;"><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写单箱重量（KG）"></td>'+
                '<td><div class="row">' +
                '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;"></div>' +
                '<div class="col-md-1" style="padding:0px;" align="center"><span style="line-height: 34px;">*</span></div>' +
                '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;"></div>' +
                '<div class="col-md-1" style="padding:0px;" align="center"><span style="line-height: 34px;">*</span></div>' +
                '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;"></div></div></td>'+
                '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写托盘号"></td>'+
                '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写FBA号码"></td>'+
                '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写地标"></td>'+
                '</tr>');
    });

    //保存修改
    $("#toSubmit").on("click",function(){
        var idd=$("#hid").val();
        var clientname = $("#clientname").val();
        var address = $("#address").val();
        var country = $("#country").val();
        var warehouseid = $("#warehouseid").val();
        var warehouseintime = $("#warehouseintime").val();
        var destinationid = "";
        var logisticsNumber = $("#logisticsNumber").val();
        var wtext = $(".has-items>.item").eq(0).text();
        var ctext = $(".has-items>.item").eq(1).text();
        var boxcount = $("#boxcount").val();
        var gotype = $("#gotype").val();
        if(wtext==warehouseid){
            warehouseid = "";
        }
        if(ctext==clientname){
            clientname = "";
        }

        var trList = $("#tb0 tbody").children("tr");
        var boxlist = [];
        for (var i=0;i<trList.length;i++) {
            var tdArr = trList.eq(i).find("td");
            var id = $("#tb0 tbody").children("tr").eq(i).attr("data-id")
            var sort = tdArr.eq(1).find('input').val();
            var weight = tdArr.eq(2).find('input').val();
            var boxlength = tdArr.eq(3).find('input').eq(0).val();
            var boxwidth = tdArr.eq(3).find('input').eq(1).val();
            var boxhigh = tdArr.eq(3).find('input').eq(2).val();
            var place = tdArr.eq(4).find('input').val();
            var fba = tdArr.eq(5).find('input').val();
            var addressmark = tdArr.eq(6).find('input').val();
            boxlist.push({"id":id,"boxlength":boxlength,"boxwidth":boxwidth,"boxhigh":boxhigh,"sort":sort,"weight":weight,"place":place,"fba":fba,"addressmark":addressmark});
        }

        var cargoLogisticsViewModel = {
            id:idd,
            warehouseintime:warehouseintime,
            clientname:ctext,
            logisticsNumber:logisticsNumber,
            warehouseid:wtext,
            warehouseaddress:address,
            country:country,
            boxcount:boxcount,
            wid:warehouseid,
            cid:clientname,
            gotype:gotype,
            aggressmessage:1
        };
        cargoLogisticsViewModel.boxlist = boxlist;
        $.ajax({
            url:"cargo/createcargolofistics",
            type:"post",
            data:JSON.stringify(cargoLogisticsViewModel),
            contentType: "application/json",
            success:function(data){
                console.log("---------");
                console.log(data);
                swal({
                    title: "提示！",
                    text: "已保存任务！",
                    type: "success"
                }, function () {
                    location.href="toClaimList";
                });
            }
        });

    });

    //保存修改
    $("#tosave").on("click",function(){
        var idd=$("#hid").val();
        var clientname = $("#clientname").val();
        var address = $("#address").val();
        var country = $("#country").val();
        var warehouseid = $("#warehouseid").val();
        var warehouseintime = $("#warehouseintime").val();
        var destinationid = "";
        var logisticsNumber = $("#logisticsNumber").val();
        var wtext = $(".has-items>.item").eq(0).text();
        var ctext = $(".has-items>.item").eq(1).text();
        var boxcount = $("#boxcount").val();
        var gotype = $("#gotype").val();
        if(wtext==warehouseid){
            warehouseid = "";
        }
        if(ctext==clientname){
            clientname = "";
        }

        var trList = $("#tb0 tbody").children("tr");
        var boxlist = [];
        for (var i=0;i<trList.length;i++) {
            var tdArr = trList.eq(i).find("td");
            var id = $("#tb0 tbody").children("tr").eq(i).attr("data-id")
            var sort = tdArr.eq(1).find('input').val();
            var weight = tdArr.eq(2).find('input').val();
            var boxlength = tdArr.eq(3).find('input').eq(0).val();
            var boxwidth = tdArr.eq(3).find('input').eq(1).val();
            var boxhigh = tdArr.eq(3).find('input').eq(2).val();
            var place = tdArr.eq(4).find('input').val();
            var fba = tdArr.eq(5).find('input').val();
            var addressmark = tdArr.eq(6).find('input').val();
            boxlist.push({"id":id,"boxlength":boxlength,"boxwidth":boxwidth,"boxhigh":boxhigh,"sort":sort,"weight":weight,"place":place,"fba":fba,"addressmark":addressmark});
        }

        var cargoLogisticsViewModel = {
            id:idd,
            warehouseintime:warehouseintime,
            clientname:ctext,
            logisticsNumber:logisticsNumber,
            warehouseid:wtext,
            warehouseaddress:address,
            country:country,
            boxcount:boxcount,
            wid:warehouseid,
            cid:clientname,
            gotype:gotype,
        };
        cargoLogisticsViewModel.boxlist = boxlist;
        $.ajax({
            url:"cargo/createcargolofistics",
            type:"post",
            data:JSON.stringify(cargoLogisticsViewModel),
            contentType: "application/json",
            success:function(data){
                console.log("---------");
                console.log(data);
                swal({
                    title: "提示！",
                    text: "已保存任务！",
                    type: "success"
                }, function () {
                    location.href="toClaimList";
                });
            }
        });

    });

//    //撤回任务
//    function toDelete(){
//        $.ajax({
//            type: "post",
//            url: "claim/deleteclaim",
//            data: {
//                "clid" : hid,
//                "cluid" : cluid,
//            },
//            dataType: "json",
//            success: function (data) {
//                if (data.statusCode ==1) {
//                    swal("提示!", "已撤回任务！", "success"), function () {
//                        location.href = "toClaimList";
//                    };
//                }
//            },
//            error: function (data) {
//                swal("跳转失败！", data.message, "error");
//            }
//        })
//    }
//
//    //撤回任
//    $("#toDelete").on("click",function(){
//        toDelete();
//    });

    function fuzhi(count){
        //alert("count:"+count)
        var cou = $("#boxcount").val();
        //alert("cou:"+cou)
        var sum=1;
        sum += parseInt(cou);
        //alert("sum:"+sum)
        $("#boxcount").val(sum);
        var id = $("#tb0 tbody").children("tr").eq(count).attr("data-id")
        var tdArr = $("#tb0 tbody").children("tr").eq(count).find("td");
        var weight = tdArr.eq(2).find('input').val();
        var size1 = tdArr.eq(3).find('input').eq(0).val();
        var size2 = tdArr.eq(3).find('input').eq(1).val();
        var size3 = tdArr.eq(3).find('input').eq(2).val();
        var place = tdArr.eq(4).find('input').val();
        var fba = tdArr.eq(5).find('input').val();
        var addressmark = tdArr.eq(6).find('input').val();
        $("#tb0 tbody").append('<tr data-id="'+id+'">'+
                '<td><button class="btn" onclick="fuzhi('+cou+');">复制</button></td>'+
                '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写序号" value="'+sum+'"></td>'+
                '<td style="padding-right: 20px;"><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写单箱重量（KG）" value="'+weight+'"></td>'+
                '<td><div class="row">' +
                '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;" value="'+size1+'"></div>' +
                '<div class="col-md-1" style="padding:0px;" align="center"><span style="line-height: 34px;">*</span></div>' +
                '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;" value="'+size2+'"></div>' +
                '<div class="col-md-1" style="padding:0px;" align="center"><span style="line-height: 34px;">*</span></div>' +
                '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;" value="'+size3+'"></div>' +
                '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写托盘号" value="'+place+'"></td>'+
                '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写FBA号码" value="'+fba+'"></td>'+
                '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写地标" value="'+addressmark+'"></td>'+
                '</tr>');
    }

    //提交任务
    function toSubmit(){
        var cargoLogisticsViewModel = getCargoLogisticsViewModel();
        $.ajax({
            url:"cargo/createcargo",
            type:"post",
            data:JSON.stringify(cargoLogisticsViewModel),
            contentType: "application/json",
            success:function(data){
                console.log("success");
                console.log(data);
                swal({
                    title: "提示！",
                    text: "已提交任务！",
                    type: "success"
                }, function () {
                    location.href="toClaimList";
                });
            },
            error:function(data){
                console.log("error");
                console.log(data);
            }
        });
    }

    function getCargoLogisticsViewModel(){
        var idd=$("#hid").val();
        var clientname = $("#clientname").val();
        var address = $("#address").val();
        var country = $("#country").val();
        var warehouseid = $("#warehouseid").val();
        var warehouseintime = $("#warehouseintime").val();
        var destinationid = "";
        var logisticsNumber = $("#logisticsNumber").val();
        var wtext = $(".has-items>.item").eq(0).text();
        var ctext = $(".has-items>.item").eq(1).text();
        var boxcount = $("#boxcount").val();
        var gotype = $("#gotype").val();
        if(wtext==warehouseid){
            warehouseid = "";
        }
        if(ctext==clientname){
            clientname = "";
        }

        var trList = $("#tb0 tbody").children("tr");
        var boxlist = [];
        for (var i=0;i<trList.length;i++) {
            var id = $("#tb0 tbody").children("tr").eq(count).attr("data-id")
            var tdArr = trList.eq(i).find("td");
            var sort = tdArr.eq(1).find('input').val();
            var weight = tdArr.eq(2).find('input').val();
            var boxlength = tdArr.eq(3).find('input').eq(0).val();
            var boxwidth = tdArr.eq(3).find('input').eq(1).val();
            var boxhigh = tdArr.eq(3).find('input').eq(2).val();
            var place = tdArr.eq(4).find('input').val();
            var fba = tdArr.eq(5).find('input').val();
            var addressmark = tdArr.eq(6).find('input').val();
            boxlist.push({"id":id,"boxlength":boxlength,"boxwidth":boxwidth,"boxhigh":boxhigh,"sort":sort,"weight":weight,"place":place,"fba":fba,"addressmark":addressmark,});
        }

        var cargoLogisticsViewModel = {
            id:idd,
            warehouseintime:warehouseintime,
            clientname:ctext,
            logisticsNumber:logisticsNumber,
            warehouseid:wtext,
            warehouseaddress:address,
            country:country,
            boxcount:boxcount,
            wid:warehouseid,
            cid:clientname,
            gotype:gotype,
        };
        cargoLogisticsViewModel.boxlist = boxlist;
        return cargoLogisticsViewModel;
    }

    </script>
</div>

</body>

</html>