<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>AlphaZ</title>
    <link rel="stylesheet" href="resources/plugins/sweetalert/sweetalert.min.css">
    <link rel="stylesheet" href="resources/plugins/datepicker/datepicker3.min.css">
    <link rel="stylesheet" href="resources/plugins/dist/css/selectize.default.min.css">
    <link rel="stylesheet" href="resources/plugins/viewer/demo/css/viewer.min.css">
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            查看/编辑审价信息
            <small></small>
        </h1>
        <div class="dropdown" style="float: right;margin-top: -20px;margin-bottom: 5px;margin-right:5px;display: none;"
             id="toRetract">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                驳回
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="reject">
                <li data-toggle="modal" data-target="#myModalRetract" data-click="0" data-no="0"><a href="javascript:;">入库</a>
                </li>
                <li data-toggle="modal" data-target="#myModalRetract" data-click="0" data-no="1"><a href="javascript:;">盘货</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary"
                style="float: right;margin-top: -20px;margin-bottom: 5px;margin-right:5px;display: none;" id="toSubmit">
            保存并提交
        </button>
        <button class="btn btn-primary"
                style="float: right;margin-top: -20px;margin-bottom: 5px;margin-right:5px;display: none;" id="toupdate">
            编辑
        </button>
        <button class="btn btn-primary"
                style="float: right;margin-top: -20px;margin-bottom: 5px;margin-right:5px;display: none;" id="tosave">保存
        </button>
        <!--<button class="btn btn-primary" style="float: right;margin-top: -20px;margin-bottom: 5px;margin-right:5px;display: none;" id="toDelete">撤回</button>-->
    </section>
    <section class="content">
        <img class='img_close' src='resources/img/clone.png' style="display: none">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">入库信息</h3>
                        <!--<ul class="nav navbar-right panel_toolbox">
                            <li><a href="tocargolist" style="margin-right:10px;"><i class="fa fa-arrow-left"></i>返回</a>
                            </li>
                        </ul>-->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <input th:value="${hid}" id="hid" type="hidden">
                        <input th:value="${pagemsg}" id="pagemsg" type="hidden">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <span>入库时间</span>
                                    </div>
                                    <input type="text" class="form-control pull-right disinp" placeholder="请选择入库时间"
                                           id="warehouseintime">
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">仓库代码</span>
                                    <div style="height: 34px;"><input id="warehouseid" placeholder="请填写仓库代码"></div>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">客户</span>
                                    <div style="height: 34px;"><input id="clientname" placeholder="请填写客户"></div>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">追溯码</span>
                                    <input type="text" class="form-control disinp" placeholder="请填写追溯码"
                                           id="logisticsNumber">
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">国家</span>
                                    <input type="text" class="form-control disinp" placeholder="请填写国家" id="country">
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">运输方式</span>
                                    <select id="gotype" class="form-control disinp">
                                        <option value="1">空运</option>
                                        <option value="2">海运</option>
                                        <option value="3">铁运</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">地址</span>
                                    <input type="text" class="form-control disinp" placeholder="请填写地址" id="address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header">
                        <h3 class="box-title">箱子信息</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <table class="table" id="tb0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">序号</th>
                                    <th style="text-align: center;">单箱重量（KG）</th>
                                    <th style="text-align: center;">单箱尺寸（CM）</th>
                                    <th style="text-align: center;">托盘号</th>
                                    <th style="text-align: center;">FBA号码</th>
                                    <th style="text-align: center;">地标</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-header">
                        <h3 class="box-title">审价信息</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group" style="overflow-x: scroll;">
                            <table class="table" id="tb1" style="table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th style="text-align: center;width: 150px;">SKU</th>
                                    <th style="text-align: center;width: 100px;">照片</th>
                                    <th style="text-align: center;width: 100px;">品牌授权书</th>
                                    <th style="text-align: center;width: 150px;">中文品名</th>
                                    <th style="text-align: center;width: 150px;">中国HS</th>
                                    <th style="text-align: center;width: 150px;">英文品名</th>
                                    <th style="text-align: center;width: 150px;">荷兰HS</th>
                                    <th style="text-align: center;width: 100px;">关税税率</th>
                                    <th style="text-align: center;width: 150px;" class="bjhide">Air Freight</th>
                                    <th style="text-align: center;width: 100px;">亚马逊卖价</th>
                                    <th style="text-align: center;width: 150px;">ASIN码</th>
                                    <th style="text-align: center;width: 100px;" class="bjhide">Delivery Freight</th>
                                    <th style="text-align: center;width: 150px;">品牌名称</th>
                                    <th style="text-align: center;width: 100px;">客户申报价格</th>
                                    <th style="text-align: center;width: 100px;">货物评价</th>
                                    <th style="text-align: center;width: 100px;">申报评估</th>
                                    <th style="text-align: center;width: 150px;">链接</th>
                                    <th style="text-align: center;width: 150px;">材质</th>
                                    <th style="text-align: center;width: 150px;">是否强制认证</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-id="">
            <div class="modal-dialog" style="margin-top:100px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            图片
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-label-left" method="post"   enctype="multipart/form-data">
                            <h4 id="word"  align="center" style="display: none;">
                                您尚未上传图片
                            </h4>
                            <div id="showpic" class="disinp1">
                            </div>
                            <!--<div class="row" class="disinp1 form-control">
                                <div class="col-md-8"><input type="file" id="pic" name="pic" multiple="multiple"  accept="image/png,image/jpg,image/jpeg"></div>
                            </div>-->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <!--<button type="button" class="btn btn-primary" id="picup">
                            上传
                        </button>-->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-id="">
            <div class="modal-dialog" style="margin-top:100px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">
                            品牌授权书
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
                            <h4 id="word1" align="center" style="display: none;">
                                您尚未上传品牌授权书
                            </h4>
                            <div id="showpic1" align="center" class="disinp1">
                                <img src="" style="width: 350px;height: 300px;">
                            </div>
                            <div class="row" class="disinp1 form-control">
                                <div class="col-md-8"><input type="file" id="pic1" name="pic1"
                                                             accept="image/png,image/jpg,image/jpeg"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary disinp1" id="picup1">
                            上传
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModalRetract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabelRetract">驳回</h4>
                    </div>
                    <div class="modal-body">
                        <textarea id="rejectremark" style="width:100%;height:200px;"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="confirm();">确认驳回</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="resources/plugins/page/page.js"></script>
    <script src="resources/plugins/sweetalert/sweetalert.min.js"></script>
   <!-- <script src="resources/plugins/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>-->
    <script src="resources/js/ajaxfileupload.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="resources/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="resources/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="resources/plugins/dist/js/standalone/selectize.min.js"></script>
    <script src="resources/plugins/moment/moment.min.js"></script>
    <script src="resources/plugins/viewer/demo/js/viewer.min.js"></script>
    <script th:inline="javascript">//引用
    var boxlist = [];
    var namelist = [];
    var isclick = 0;
    var controllist = [];
    var type = /*[[${type}]]*/;//从我的认领页面过来
    var cluid = /*[[${cluid}]]*/;//任务id
    var hid = /*[[${hid}]]*/;//货物id
    $(function () {
        $.ajaxSetup({
            async: false
        });

        if (type) {
            $("#toupdate").show();
            $("#toRetract").show();
        }

        $("#reject li").on("click", function () {
            $(this).attr("data-click", 1);
        })

        //提交任务
        $("#toSubmit").on("click", function () {
            toSubmit();
        });

        $("#setbox1").hide();
        $(".disinp").attr("disabled", true);
        $(".disinp1").hide();
        var id = $("#hid").val();
        $.ajax({
            url: 'cargo/' + id + '/getcargologisticsbyid',
            type: "post",
            dataType: "json",
            success: function (data) {
                var warehouseaddress = data.data.cl.warehouseaddress == null ? "" : data.data.cl.warehouseaddress;
                var warehouseintime = (data.data.cl.warehouseintime == null || data.data.cl.warehouseintime == "" || data.data.cl.warehouseintime == 'null') ? "" : moment(data.data.cl.warehouseintime).format('YYYY-MM-DD HH:mm:ss');
                var country = data.data.cl.country == null ? "" : data.data.cl.country;
                var logisticsNumber = data.data.cl.logisticsNumber == null ? "" : data.data.cl.logisticsNumber;
                var gotype = data.data.cl.gotype == null ? "" : data.data.cl.gotype;
                $("#address").val(warehouseaddress);
                $("#country").val(country);
                $("#warehouseintime").val(warehouseintime);
                $("#logisticsNumber").val(logisticsNumber);
                $("#boxcount").val(data.data.box.length);
                $("#gotype").val(gotype);

                var list1 = [data.data.cl.wid];
                setlist1(list1);
                var list2 = [data.data.cl.cid];
                list2.push(list2);
                setlist2(list2);
                $("#td0 tbody").empty();
                boxlist = data.data.box;
                for (var i = 0; i < data.data.box.length; i++) {
                    var sort = data.data.box[i].sort == null ? "" : data.data.box[i].sort;
                    var weight = data.data.box[i].weight == null ? "" : data.data.box[i].weight;
                    var size1 = data.data.box[i].boxlength == null ? "" : data.data.box[i].boxlength;
                    var size2 = data.data.box[i].boxwidth == null ? "" : data.data.box[i].boxwidth;
                    var size3 = data.data.box[i].boxhigh == null ? "" : data.data.box[i].boxhigh;
                    var place = data.data.box[i].place == null ? "" : data.data.box[i].place;
                    var fba = data.data.box[i].fba == null ? "" : data.data.box[i].fba;
                    var addressmark = data.data.box[i].addressmark == null ? "" : data.data.box[i].addressmark;
                    $("#tb0 tbody").append('<tr>' +
                            '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写序号" value="' + sort + '"></td>' +
                            '<td style="padding-right: 20px;"><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写单箱重量（KG）" value="' + weight + '"></td>' +
                            '<td><div class="row">' +
                            '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;" value="' + size1 + '"></div>' +
                            '<div class="col-md-1" style="padding:0px;" align="center"><span style="line-height: 34px;">*</span></div>' +
                            '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;" value="' + size2 + '"></div>' +
                            '<div class="col-md-1" style="padding:0px;" align="center"><span style="line-height: 34px;">*</span></div>' +
                            '<div class="col-md-3" style="padding:0px;"><input type="text" class="form-control" style="padding:0px;text-align: center;" value="' + size3 + '"></div></div></td>' +
                            '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写托盘号" value="' + place + '"></td>' +
                            '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写FBA号码" value="' + fba + '"></td>' +
                            '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写地标" value="' + addressmark + '"></td>' +
                            '</tr>');
                }
                $("#tb0 tbody tr td").find("input").attr("disabled", true);
            }
        });

        <!-- 获取所有的品名信息 -->
        $.ajax({
            url: "cargo/getcargoname",
            type: "post",
            dataType: "json",
            success: function (data) {
                console.log("品名表");
                console.log(data);
                namelist = data.data;
                showh();
            }
        });
    });


    <!-- 根据id获取获取信息 -->
    function showh() {
        var id = $("#hid").val();
        $.ajax({
            url: "cargo/" + id + "/getcargobyid",
            type: "post",
            dataType: "json",
            success: function (data) {
                console.log(data)
                var starlist = "<select class='form-control'><option value=''>请选择星级</option>" +
                        "<option value='1'>一星</option><option value='2'>二星</option><option value='3'>三星</option><option value='4'>四星</option><option value='5' selected>五星</option></select>";
                var pplist = "<select class='form-control'><option value='' selected >无</option>" +
                        "<option value='1'>偏高</option><option value='2'>偏低</option><option value='3'>合理</option></select>";
                $("#tb1 > tbody").empty();
                for (var i = 0; i < data.data.length; i++) {
                    var id = data.data[i].id;
                    var sku = data.data[i].sku == null ? "" : data.data[i].sku;
                    var airfreight = data.data[i].airfreight == null ? "" : data.data[i].airfreight;
                    var amzprice = data.data[i].amzprice == null ? "" : data.data[i].amzprice;
                    var asin = data.data[i].asin == null ? "" : data.data[i].asin;
                    var beliveryfreight = data.data[i].beliveryfreight == null ? "" : data.data[i].beliveryfreight;
                    var brand = data.data[i].brand == null ? "" : data.data[i].brand;
                    var brandc = data.data[i].brandc == null ? "" : data.data[i].brandc;
                    var declaredvalue = data.data[i].declaredvalue == null ? "" : data.data[i].declaredvalue;
                    if(declaredvalue==""||declaredvalue==0){
                        declaredvalue = "无";
                    }
                    var evaluation = data.data[i].evaluation == null ? "" : data.data[i].evaluation;
                    if(evaluation==1){
                        starlist = "<select class='form-control'><option value=''>请选择星级</option>" +
                                "<option value='1' selected>一星</option><option value='2'>二星</option><option value='3'>三星</option><option value='4'>四星</option><option value='5' >五星</option></select>";
                    }else if(evaluation==2){
                        starlist = "<select class='form-control'><option value=''>请选择星级</option>" +
                                "<option value='1'>一星</option><option value='2' selected>二星</option><option value='3'>三星</option><option value='4'>四星</option><option value='5' >五星</option></select>";
                    }else if(evaluation==3){
                        starlist = "<select class='form-control'><option value=''>请选择星级</option>" +
                                "<option value='1'>一星</option><option value='2'>二星</option><option value='3' selected>三星</option><option value='4'>四星</option><option value='5' >五星</option></select>";
                    }else if(evaluation==4){
                        starlist = "<select class='form-control'><option value=''>请选择星级</option>" +
                                "<option value='1'>一星</option><option value='2'>二星</option><option value='3'>三星</option><option value='4' selected>四星</option><option value='5'>五星</option></select>";
                    }else if(evaluation==5){
                        starlist = "<select class='form-control'><option value=''>请选择星级</option>" +
                                "<option value='1'>一星</option><option value='2'>二星</option><option value='3'>三星</option><option value='4'>四星</option><option value='5' selected>五星</option></select>";
                    }
                    var evaluationlevel = data.data[i].evaluationlevel == null ? "" : data.data[i].evaluationlevel;
                    if(evaluationlevel==1){
                        pplist = "<select class='form-control'><option value='' >无</option>" +
                                "<option value='1' selected>偏高</option><option value='2'>偏低</option><option value='3'>合理</option></select>";
                    }else if(evaluationlevel==2){
                        pplist = "<select class='form-control'><option value='' >无</option>" +
                                "<option value='1'>偏高</option><option value='2' selected>偏低</option><option value='3'>合理</option></select>";
                    }else if(evaluationlevel==1){
                        pplist = "<select class='form-control'><option value='' >无</option>" +
                                "<option value='1'>偏高</option><option value='2'>偏低</option><option value='3' selected>合理</option></select>";
                    }
                    var link = data.data[i].link == null ? "" : data.data[i].link;
                    var material = data.data[i].material == null ? "" : data.data[i].material;
                    var qiangzhi = data.data[i].qiangzhi == null ? "" : data.data[i].qiangzhi;

                    var chinesename = data.data[i].chinesename == null ? "" : data.data[i].chinesename;
                    var chinseshs = data.data[i].chinseshs == null ? "" : data.data[i].chinseshs;
                    var englishname = data.data[i].englishname == null ? "" : data.data[i].englishname;
                    var hlhs = data.data[i].hlhs == null ? "" : data.data[i].hlhs;
                    var duty = data.data[i].duty == null ? "" : data.data[i].duty;
                    /*$.ajax({
                        url: "cargo/" + id + "/getcargopicbycargoid",
                        type: "post",
                        dataType: "json",
                        success: function (datas) {
                            var listt = [];
                            var val1 = 0;
                            for (var j = 0; j < datas.data.length; j++) {
                                listt[j] = datas.data[j].picid;
                                val1 += 1;
                            }*///onchange="pingm(' + i + ');"
                            $("#tb1 > tbody").append('<tr data-id="' + id + '">' +
                                    '<td><input class="form-control ssku" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写SKU" value="' + sku + '"></td>' +
                                    '<td align="center"><button onclick="aaa('+i+','+id+');"  type="button" class="btn">查看</button><input type="hidden" ></td>'+//value="'+listt+'"
                                    '<td align="center"><button onclick="findpic(' + i + ');" type="button" class="btn">查看</button><input type="hidden" value="' + brandc + '"></td>' +
                                    '<td><input type="text" class="form-control pinming' + i + '" placeholder="请选择中文品名"  onclick="bbbbbb('+i+');"  value="'+chinesename+'" data-hid="'+data.data[i].cargonameid+'"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写中国HS" value="'+chinseshs+'"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写英文品名" value="'+englishname+'"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写荷兰HS" value="'+hlhs+'"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写关税" value="'+duty+'"></td>' +
                                    '<td class="bjhide"><input type="text" class="form-control " style="padding:0px;border: 0px;text-align: center;" placeholder="请填写Air Freight" value="' + airfreight + '"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写亚马逊卖价" value="' + amzprice + '"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写ASIN码" value="' + asin + '"></td>' +
                                    '<td class="bjhide"><input type="text" class="form-control " style="padding:0px;border: 0px;text-align: center;" placeholder="请填写Delivery Freight" value="' + beliveryfreight + '"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写品牌名称" value="' + brand + '"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写客户申报价格" value="' + declaredvalue + '"></td>' +
                                    '<td>' + starlist + '</td>' +
                                    '<td>' + pplist + '</td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写链接" value="' + link + '"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="请填写材质" value="' + material + '"></td>' +
                                    '<td><input type="text" class="form-control" style="padding:0px;border: 0px;text-align: center;" placeholder="是否强制认证" value="'+qiangzhi+'"></td>' +
                                    '</tr>');//qiangzhi
                            /*var $select = $('.pinming' + i).selectize({
                                createOnBlur: true,
                                maxItems: 1,
                                valueField: 'id',
                                labelField: 'chinesename',
                                searchField: 'chinesename',
                                options: namelist,
                                create: true
                            });
                            var control = $select[0].selectize;
                            control.setValue([data.data[i].cargonameid]);
                            control.disable();
                            controllist.push(control)*/
                       /* }
                    });*/
                    //$("#tb1 tbody").find("tr").eq(i).find("td").eq(14).find("select").find("option[value='" + evaluation + "']").attr("selected", true)
                    //$("#tb1 tbody").find("tr").eq(i).find("td").eq(15).find("select").find("option[value='" + evaluationlevel + "']").attr("selected", true)

                }
                $("#tb1 tbody tr td").find("input").attr("disabled", true);
                $("#tb1 tbody tr td").find("select").attr("disabled", true);
            }
        });
    }

    function bbbbbb(i){
        var idd = $(".pinming"+i).attr("data-hid");
        $(".pinming"+i).remove();
        $("#tb1 tbody").find("tr").eq(i).find("td").eq(3).append('<input type="text" class="pinming'+i+'" placeholder="请选择中文品名" onchange="pingm(' + i + ');">');
        var $select = $('.pinming' +i).selectize({
            createOnBlur: true,
            maxItems: 1,
            valueField: 'id',
            labelField: 'chinesename',
            searchField: 'chinesename',
            options: namelist,
            create: true
        });
        var control = $select[0].selectize;
        control.setValue([idd]);
        controllist.push(control)
    }


    function setlist1(list1) {
        $.ajax({
            url: "warehouseclient/warehouse",
            type: "get",
            data: {},
            dataType: "json",
            success: function (data) {
                if (data.statusCode == 0) {
                    var list = [];
                    for (var i = 0; i < data.data.length; i++) {
                        var demolist = {"id": data.data[i].id, "name": data.data[i].warehouseid};
                        list.push(demolist);
                    }
                    var $select = $('#warehouseid').selectize({
                        createOnBlur: true,
                        maxItems: 1,
                        valueField: 'id',
                        labelField: 'name',
                        searchField: 'name',
                        options: list,
                        create: true
                    });
                    var control = $select[0].selectize;
                    control.setValue(list1);
                    control.disable();
                }
            }
        });
    }

    function setlist2(list2) {
        $.ajax({
            url: "warehouseclient/client",
            type: "get",
            data: {},
            dataType: "json",
            success: function (data) {
                if (data.statusCode == 0) {
                    var list = [];
                    for (var i = 0; i < data.data.length; i++) {
                        var demolist = {"id": data.data[i].id, "name": data.data[i].clientname};
                        list.push(demolist);
                    }
                    var $select = $('#clientname').selectize({
                        createOnBlur: true,
                        maxItems: 1,
                        valueField: 'id',
                        labelField: 'name',
                        searchField: 'name',
                        options: list,
                        create: true
                    });
                    var control = $select[0].selectize;
                    control.setValue(list2);
                    control.disable();
                }
            }
        });
    }

    $('#warehouseintime').datepicker({
        language: 'zh-CN',
        format: 'yyyy-mm-dd',
        autoclose: true
    });


    $("#toupdate").on("click", function () {
        $("#toSubmit").show();
        $("#toRetract").hide();
        $("#toupdate").hide();
        $("#tosave").show();
        $("#tb1 tbody tr td").find("input").attr("disabled", false);
        $("#tb1 tbody tr td").find("select").attr("disabled", false);
        $(".bjhide").css("display", "none");
        $(".disinp1").show();
        $(".ssku").attr("disabled", true);
        isclick = 1;
        for (var i = 0; i < controllist.length; i++) {
            controllist[i].enable();
        }
    });

    function pingm(msg) {
        var id = $(".pinming" + msg).val();
        $.ajax({
            url: "cargo/" + id + "/getcargoname",
            type: "post",
            dataType: "json",
            success: function (data) {
                console.log("返回品名信息");
                console.log(data);
                $("#tb1 tbody tr").eq(msg).find("td").eq(4).find("input").val(data.data.chinseshs)
                $("#tb1 tbody tr").eq(msg).find("td").eq(5).find("input").val(data.data.englishname)
                $("#tb1 tbody tr").eq(msg).find("td").eq(6).find("input").val(data.data.hlhs)
                $("#tb1 tbody tr").eq(msg).find("td").eq(7).find("input").val(data.data.duty)
            }
        });
    }


    $("#tosave").on("click", function () {
        var trList = $("#tb1 tbody").children("tr");
        var cargoModels = [];
        for (var i = 0; i < trList.length; i++) {
            var id = trList.eq(i).attr("data-id");
            var tdArr = trList.eq(i).find("td");
            var brandc = tdArr.eq(2).find('input').val();
            var cnid = tdArr.eq(3).find(".pinming" + i).attr("data-hid");
            if(tdArr.eq(3).find(".pinming" + i).attr("data-hid")==null){
                cnid = tdArr.eq(3).find(".pinming" + i).val();
            }
            var chinesename = tdArr.eq(3).find(".pinming" + i + ">.has-items > .item").text();
            if (cnid == chinesename) {
                cnid = "";
            }
            var clid = $("#hid").val();
            var chinseshs = tdArr.eq(4).find('input').val()
            var englishname = tdArr.eq(5).find('input').val();
            var hlhs = tdArr.eq(6).find('input').val();
            var duty = tdArr.eq(7).find('input').val();
            var airfreight = tdArr.eq(8).find('input').val();
            var amzprice = tdArr.eq(9).find('input').val();
            var asin = tdArr.eq(10).find('input').val();
            var beliveryfreight = tdArr.eq(11).find('select').val();
            var brand = tdArr.eq(12).find('input').val();
            var declaredvalue = tdArr.eq(13).find('input').val();
            if(declaredvalue=="无"){
                declaredvalue = 0;
            }
            var evaluation = tdArr.eq(14).find('select').val();
            var evaluationlevel = tdArr.eq(15).find('select').val();
            var link = tdArr.eq(16).find('input').val();
            var material = tdArr.eq(17).find('input').val();
            var qiangzhi = tdArr.eq(18).find('input').val();
            var cargoModel = {
                id: id,
                clid: clid,
                cnid: cnid,
                chinesename: chinesename,
                chinseshs: chinseshs,
                englishname: englishname,
                hlhs: hlhs,
                duty: duty,
                airfreight: airfreight,
                amzprice: amzprice,
                asin: asin,
                beliveryfreight: beliveryfreight,
                brand: brand,
                brandc: brandc,
                declaredvalue: declaredvalue,
                evaluation: evaluation,
                evaluationlevel: evaluationlevel,
                link: link,
                material: material,
                qiangzhi:qiangzhi,
                agreemessage: null,//1:提交  null 创建/保存
            };
            cargoModels.push(cargoModel);
        }
        console.log("JSON.stringify(cargoModels)");
        console.log(JSON.stringify(cargoModels));

        $.ajax({
            url: "cargo/createcargopricebyclid",
            type: "post",
            data: JSON.stringify(cargoModels),
            contentType: "application/json",
            success: function (data) {
                swal({
                    title: "提示！",
                    text: "已保存任务！",
                    type: "success"
                }, function () {
                    location.href = "toClaimList";
                });
            }
        });

    });


    $("#picup1").on("click", function () {
        ajaxFileUpload1();
        $('#myModal1').modal('hide')
    });

    function findpic(i) {
        $("#pic1").val("");
        var val = $("#tb1 tbody tr").eq(i).find("td").eq(2).find("input").val();
        val = val == "" ? 0 : val;
        $("#showpic1").show();
        $("#word1").hide();
        if (val < 1 && isclick == 0) {
            $("#showpic1").hide();
            $("#word1").show();
            $("#myModal1").modal();
            $("#myModal1").attr("data-id", i);
        } else if (val < 1 && isclick == 1) {
            $("#showpic1").hide();
            $("#word1").hide();
            $("#myModal1").modal();
            $("#myModal1").attr("data-id", i);
        } else if (val >= 1 && isclick == 1) {
            $("#myModal1").modal();
            $("#myModal1").attr("data-id", i);
            $("#showpic1").find("img").attr("src", "file/showimg/" + val);
        } else if (val >= 1 && isclick == 0) {
            $("#showpic1").show();
            $("#word1").hide();
            $("#myModal1").modal();
            $("#myModal1").attr("data-id", i);
            $("#showpic1").find("img").attr("src", "file/showimg/" + val);
        }
        var viewer = new Viewer(document.getElementById('myModal1'), {
            //url: 'data-original'
            show: function (){
                viewer.update();
            }
        });
    }

    function ajaxFileUpload1() {  //ajaxFileUpload上传用户头像（我的简历中的基本信息模块）, <input type="file" id="Image" name="Image" onchange="ajaxFileUpload()" />成功
        $.ajaxFileUpload({
            url: 'file/uploadimage', //用于文件上传的服务器端请求地址
            type: "post",
            secureuri: false, //一般设置为false
            fileElementId: 'pic1', //文件上传空间的id属性  <input type="file" id="file1" name="file" />
            dataType: 'application/json', //返回值类型 一般设置为json
            success: function (data)  //服务器成功响应处理函数
            {
                var j = $("#myModal1").attr("data-id");
                console.log(data)
                $("#tb1 tbody tr").eq(j).find("td").eq(2).find("input").val(data.data[0].id)
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });//end ajaxfile
    }

    function aaa(i,id){
        $("#pic").val("");
        $("#myModal").modal();
        $("#myModal").attr("data-id",i);
        //$("#aa1").attr("src","file/aaa");
        $("#showpic").empty();
        $.ajax({
            url: "cargo/" + id + "/getcargopicbycargoid",
            type: "post",
            dataType: "json",
            success: function (datas) {
                var listt = [];
                for (var j = 0; j < datas.data.length; j++) {
                    listt[j] = datas.data[j].picid;
                }
                $("#tb1 tbody tr").eq(i).find("td").eq(1).find("input").val(listt);

                var val = $("#tb1 tbody tr").eq(i).find("td").eq(1).find("input").val();

                if(val.length<1){
                    $("#showpic").hide();
                    $("#word").show();
                    $("#myModal").modal();
                    $("#myModal").attr("data-id",i);
                    return;
                }else if(val.length>=1){
                    $("#showpic").show();
                    $("#word").hide();
                    $("#myModal").modal();
                    $("#myModal").attr("data-id",i);
                    $("#showpic").find("img").attr("src","file/showimg/"+val);
                }
                var a = val.split(",");
                var v = 1;
                for (var j = 0; j < a.length; j++) {
                    v+=1;
                    $("#showpic").append("<div class='img_div' style='position:relative;width:110px;height:110px;display:inline-block;margin-right:5px;'>\n" +
                            //"<img class='img_close' src='resources/img/clone.png' style='position:absolute;right:0;top:0;' width='15'  onclick='deleteimg(" + a[j] + ",this)'>\n" +
                            "<a onclick='deleteimg(" + a[j] + ",this)' style='position:absolute;right:0;top:0;' width='15'>X</a>\n" +
                            "<img src='file/showimg/" + a[j] + "' class='img-thumbnail' >" +
                            "</div>"
                    );
                }

                $("#tb1 tbody tr").eq(i).find("td").eq(12).find("input").val(v);
                var viewer = new Viewer(document.getElementById('myModal'), {
                    //url: 'data-original'
                    show: function (){
                        viewer.update();
                    }
                });




            }
        })



    }

    //撤回任务
    //    function toDelete(){
    //        $.ajax({
    //            type: "post",
    //            url: "claim/deleteclaim",
    //            data: {
    //                "clid" : hid,
    //                "cluid" : cluid,
    //            },
    //            dataType: "json",
    //            success: function (data) {
    //                if (data.statusCode ==1) {
    //                    swal("提示!", "已撤回任务！", "success"), function () {
    //                        location.href = "toClaimList";
    //                    };
    //                }
    //            },
    //            error: function (data) {
    //                console.log
    //                swal("跳转失败！", data.message, "error");
    //            }
    //        })
    //    }

    //撤回任
    //    $("#toDelete").on("click",function(){
    //        toDelete();
    //    });

    //驳回
    function confirm() {
        var num = 0;
        $("#reject li").each(function () {
            var clickType = $(this).attr("data-click");
            if (clickType == 1) {
                num = 1;
                cltype = $(this).attr("data-no");
                $(this).attr("data-click", "0");
            }
        })
        if (num == 0) {
            return;
        }
        var rejectremark = $("#rejectremark").val();
        $.ajax({
            type: "post",
            url: "claim/rejectclamin",
            data: {
                "clid": hid,
                "cluid": cluid,
                "cltype": cltype,
                "rejectremark": rejectremark,
            },
            dataType: "json",
            success: function (data) {
                if (data.statusCode == 0) {
                    swal({
                        title: "提示！",
                        text: "已驳回任务！",
                        type: "success"
                    }, function () {
                        location.href = "toClaimList";
                    });
                }
            },
            error: function (data) {
                swal("跳转失败！", data.message, "error");
            }
        })
    }

    //提交任务
    function toSubmit() {
        var cargoModels = getCargoModels();
        $.ajax({
            url: "cargo/createcargopricebyclid",
            type: "post",
            data: JSON.stringify(cargoModels),
            contentType: "application/json",
            success: function (data) {
                swal({
                    title: "提示！",
                    text: "已提交任务！",
                    type: "success"
                }, function () {
                    location.href = "toClaimList";
                });
            }
        });
    }

    function getCargoModels() {
        var trList = $("#tb1 tbody").children("tr");
        var cargoModels = [];
        for (var i = 0; i < trList.length; i++) {
            var id = trList.eq(i).attr("data-id");
            var tdArr = trList.eq(i).find("td");
            var brandc = tdArr.eq(2).find('input').val();
            var cnid = tdArr.eq(3).find(".pinming" + i).val();
            var chinesename = tdArr.eq(3).find(".pinming" + i + ">.has-items > .item").text();
            if (cnid == chinesename) {
                cnid = "";
            }
            var clid = $("#hid").val();
            var chinseshs = tdArr.eq(4).find('input').val()
            var englishname = tdArr.eq(5).find('input').val();
            var hlhs = tdArr.eq(6).find('input').val();
            var duty = tdArr.eq(7).find('input').val();
            var airfreight = tdArr.eq(8).find('input').val();
            var amzprice = tdArr.eq(9).find('input').val();
            var asin = tdArr.eq(10).find('input').val();
            var beliveryfreight = tdArr.eq(11).find('select').val();
            var brand = tdArr.eq(12).find('input').val();
            var declaredvalue = tdArr.eq(13).find('input').val();
            if(declaredvalue=="无"){
                declaredvalue = 0;
            }
            var evaluation = tdArr.eq(14).find('select').val();
            var evaluationlevel = tdArr.eq(15).find('select').val();
            var link = tdArr.eq(16).find('input').val();
            var material = tdArr.eq(17).find('input').val();
            var qiangzhi = tdArr.eq(18).find('input').val();
            var cargoModel = {
                id: id,
                clid: clid,
                cnid: cnid,
                chinesename: chinesename,
                chinseshs: chinseshs,
                englishname: englishname,
                hlhs: hlhs,
                duty: duty,
                airfreight: airfreight,
                amzprice: amzprice,
                asin: asin,
                beliveryfreight: beliveryfreight,
                brand: brand,
                brandc: brandc,
                declaredvalue: declaredvalue,
                evaluation: evaluation,
                evaluationlevel: evaluationlevel,
                link: link,
                material: material,
                qiangzhi:qiangzhi,
                agreemessage: 1,//1:提交  null 创建/保存
            };
            cargoModels.push(cargoModel);
        }
        return cargoModels;
    }
    </script>
</div>

</body>

</html>